body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sign-in-container {
    border:2px solid white;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #45a049;
}

.create-account{
    text-align: center;
    margin-top: 15px;
    font-size: 0.8rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    background: radial-gradient(circle,rgb(230, 231, 232),hsla(208, 100%, 87%, 0.836));
}