<html>
<head>
  <title>Sign In</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'loginstyle.css' %}">


</head>
<body>
  <div class="sign-in-container">
    <h1>Sign in</h1>
    <input type="text" class="input-field" placeholder="Email" />
    <input type="password" class="input-field" placeholder="Password" />
    <div class="remember-me">
      <label><input type="checkbox" /> Remember me</label>
      <a href="#">Forgot password?</a>
    </div>
    <button class="login-button">Login</button>
    <div class="create-account">Not registered? <a href="#">Create an account</a></div>
  </div>
</body>
</html>